:root{
    --dark-green: #356859;
    --green: #37966F;
    --beige: #FFFBE6;
    --lignt-green: #b9e4c9;
}
html{
    font-size: 20px;
    background-color: var(--beige);
}
h1{
    color: #FD5523;
}
div{
    color: var(--dark-green);
}
.px{
    font-size: 10px;
}
.rem{
    font-size: 1.5rem;
}
.em{
    font-size: 1.2em;
}
.app{
    background-color: var(--lignt-green);
    width: 50vw;
    height: 25vh;
}
.color{
    background-color: var(--green);
    color: var(--beige);
}